<section id="experience">
  <div class="g-heading">
    <div class="g-watermark">
      Experience
    </div>
    <div class="g-subheading">
      My Work Experience
      <div class="g-underline">
      </div>
    </div>
  </div>
  <div class="experience-info">
    <div class="experience-card">
      <div class="project-area">
        <div class="project-head">
          <b>Verizon - SDE-II - (Jan 2022 – Till)</b>
        </div>
        {{! <div class="project-subheading">
          Disaster Fail Over Automation
        </div> }}
        <div class="project-description">
          <ul>
            <li>Enhancing Dashboard to maintain conversations between an Agent
              and Customer of chatbot and dashboard metrics for admin.</li>
            <li>Integrating Chatbot async interface to AI application to provide
              optimized wait time to the user</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="experience-card">
      <div class="project-area">
        <div class="project-head">
          <b>TCS – SE - (May 2019 – Jan 2022)</b>
        </div>
        {{! <div class="project-subheading">
                    Rules Mining
                </div> }}
        <div class="project-description">
          <ul>
            <li>Developed a REST API to maintain Centralized Repository for
              Policy Summary Details of a customer. Which helps to differentiate
              legacy data with data after modernization and reduces cost of the
              application.
            </li>
            <li>Developed UI for maintaining Administration Tasks for
              Communication System of Insurance Application
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="experience-info">
    <div class="experience-card">
      <div class="project-area">
        <div class="project-head">
          <b>TCS</b>
        </div>
        {{! <div class="project-subheading">
          Moderinization
        </div> }}
        <div class="project-description">
          <ul>
            <li>Developed Feature to reduce network latency and disk space of
              servers While processing data through Communication System.</li>
            <li>Analyzing legacy Codebase and writing business rules and
              refactoring as per customer requirement.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div style="text-align: center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>
</section>