<section id ="experience">
    <div class = "g-heading">
        <div class = "g-watermark">
            Experience
        </div>
        <div class = "g-subheading">
            My Work Experience
            <div class = "g-underline">
            </div>
        </div>
    </div>
    <div class="experience-info">
        <div class="experience-card">
            <div class="project-area">
                <div class="project-head">
                    <b>TCS - JPMC</b>
                </div>
                <div class="project-date">
                    May 2019 - Dec 2019
                </div>
                <div class="project-subheading">
                    Disaster Fail Over Automation
                </div>
                <div class="project-description">
                    <ul>
                        <li>Automation of disaster fail over operations and health check of apps by developing ansible and python scripts</li>
                        <li>Analysis of ITSM documents and creation of workflows using AAA framework</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="experience-card">
            <div class="project-area">
                <div class="project-head">
                    <b>TCS - USAA</b>
                </div>
                <div class="project-date">
                    Jan 2020 - Oct 2020
                </div>
                <div class="project-subheading">
                    Rules Mining
                </div>
                <div class="project-description">
                    <ul>
                        <li>Writing Business documents by analyzing JAVA and CPP services of largest monolithic application</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="experience-info">
        <div class="experience-card">
            <div class="project-area">
                <div class="project-head">
                    <b>TCS - USAA</b>
                </div>
                <div class="project-date">
                    Oct 2020 - May 2021
                </div>
                <div class="project-subheading">
                    Moderinization
                </div>
                <div class="project-description">
                    <ul>
                        <li>Consuming API's by developing CPP services</li>
                        <li>Producing API's by using node js</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center">
        <span class="dot" onclick="currentSlide(1)"></span> 
        <span class="dot" onclick="currentSlide(2)"></span> 
        <span class="dot" onclick="currentSlide(3)"></span> 
    </div>
</section>