<section id="experience">
  <div class="g-heading">
    <div class="g-watermark">
      Experience
    </div>
    <div class="g-subheading">
      My Work Experience
      <div class="g-underline">
      </div>
    </div>
  </div>
  <div class="experience-info">
    <div class="experience-card">
      <div class="project-area">
        {{! <div class="project-head">
          <b>TCS - JPMC</b>
        </div>
        <div class="project-subheading">
          Disaster Fail Over Automation
        </div> }}
        <div class="project-description">
          <ul>
            <li>Developed a REST API to maintain Centralized Repository for
              Policy Summary Details of a customer. Which helps to differentiate
              legacy data with data after modernization and reduces cost of the
              application.</li>
            <li>Developed Feature to reduce network latency and disk space of
              servers While processing data through Communication System.</li>

          </ul>
        </div>
      </div>
    </div>
    <div class="experience-card">
      <div class="project-area">
        {{! <div class="project-head">
                    <b>TCS - USAA</b>
                </div>
                <div class="project-subheading">
                    Rules Mining
                </div> }}
        <div class="project-description">
          <ul>
            <li>Developed UI for maintaining Administration Tasks for
              Communication System of Insurance Application
            </li>
            <li>Analyzing legacy Codebase and writing business rules and
              refactoring as per customer requirement.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{! <div class="experience-info">
        <div class="experience-card">
            <div class="project-area">
                <div class="project-head">
                    <b>TCS - USAA</b>
                </div>
                <div class="project-subheading">
                    Moderinization
                </div>
                <div class="project-description">
                    <ul>
                        <li>Code refactoring by using API's as per business requirement</li>
                        <li>Developing API's to convert monolithic architecture of application into microservice architecture and Developing UI pages as per customer requirement.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div> }}
  <div style="text-align: center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>
</section>