<section id ="experience">
    <div class = "g-heading">
        <div class = "g-watermark">
            Experience
        </div>
        <div class = "g-subheading">
            My Work Experience
            <div class = "g-underline">
            </div>
        </div>
    </div>
    <div class="experience-info">
        <div class="experience-card">
            <div class="project-area">
                <div class="project-head">
                    <b>TCS - JPMC</b>
                </div>
                <div class="project-subheading">
                    Disaster Fail Over Automation
                </div>
                <div class="project-description">
                    <ul>
                        <li>Automating health check of applications by developing Flask API and sending status of the application to the L2 people over mail.</li>
                        <li>Analysis of ITSM documents and creation of workflows using AAA framework</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="experience-card">
            <div class="project-area">
                <div class="project-head">
                    <b>TCS - USAA</b>
                </div>
                <div class="project-subheading">
                    Rules Mining
                </div>
                <div class="project-description">
                    <ul>
                        <li>Rules Mining of different functionalities of largest monolithic application developed in JAVA and CPP</li>
                        <li>Code Refactoring as per business requirement</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="experience-info">
        <div class="experience-card">
            <div class="project-area">
                <div class="project-head">
                    <b>TCS - USAA</b>
                </div>
                <div class="project-subheading">
                    Moderinization
                </div>
                <div class="project-description">
                    <ul>
                        <li>Code refactoring by using API's as per business requirement</li>
                        <li>Developing API's to convert monolithic architecture of application into microservice architecture and Developing UI pages as per customer requirement.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center">
        <span class="dot" onclick="currentSlide(1)"></span> 
        <span class="dot" onclick="currentSlide(2)"></span> 
        <span class="dot" onclick="currentSlide(3)"></span> 
    </div>
</section>