<section id="home" class="home-container">
  <div class="home-content">
    <div class="name">
      Srujana Penugonda
    </div>
    <div class="sub-heading">
      <p>I am an Enthusiastic Full Stack Developer having 2+ years’ experience
        in Software Development using agile methodology. Looking to acquire
        challenging position in Development which uses Node.js, React.js. Strong
        engineering professional with a Bachelor of Technology (B.Tech.) in
        Computer Science and engineering</p>
    </div>
    <div class="contact">
      <a href="#contact">Contact Me</a>
    </div>
  </div>
</section>