<section id ="projects">
    <div class="projects">
        <div class = "g-heading">
            <div class = "g-watermark">
                Projects
            </div>
            <div class = "g-subheading">
                My Projects
                <div class = "g-underline">
                </div>
            </div>
        </div>
        <div class="project-details">
            <ul id = "project-type" onclick="performAction(event.target.id);">
                <li><a id ="python">Python</a></li>
                <li><a id ="react">React Js</a></li>
                <li><a id = "api">API</a></li>
                <li><a id = "cli">CLI App</a></li>
            </ul>
            <div class="project-info" id = "card">
                <div class="project-card">
                    <div class="project-area">
                        <div class="project-head">
                            <b>Do you know me</b>
                        </div>
                        <div class="project-date">
                            May,2021
                        </div>
                        <div class="project-description">
                            A Command-Line-Application built with NodeJS. Start with the basics of JavaScript. Follow along to perform exercises, and Build a Quiz as the end result!
                        </div>
                        <div class="project-link1">
                            <a href= "https://github.com/SRUJANA-PENUGONDA13/AffliateWorld"><b>Visit Live</b></a>
                        </div>
                        <div class="project-link2">
                            <a href= "https://github.com/SRUJANA-PENUGONDA13/AffliateWorld"><b>View Code On Github</b></a>
                        </div>
                    </div>
                </div>
                <div class="project-card">
                </div>
            </div>
        </div>
    </div>
</section>