<section id="projects">
  <div class="projects">
    <div class="g-heading">
      <div class="g-watermark">
        Projects
      </div>
      <div class="g-subheading">
        My Projects
        <div class="g-underline">
        </div>
      </div>
    </div>
    <div class="project-details">
      <ul id="project-type" onclick="performAction(event.target.id);">
        <li><a id="html-css">HTML/CSS</a></li>
        <li><a id="react">React JS</a></li>
        <li><a id="nodejs">Node JS</a></li>
        <li><a id="api">API</a></li>
        {{! <li><a id = "cli">CLI App</a></li> }}
      </ul>
      <div class="project-info" id="card">
        <div class="project-card">
          <div class="project-area">
            <div class="project-head">
              <b>Component Library </b>
            </div>
            <div class="project-date">
              Feb,2022
            </div>
            <div class="project-description">
              It has well-structured components and documentation that helps
              developers to develop applications with less time and more quality<br
              />
              Technology - HTML, CSS, JS
            </div>
            <div class="project-link1">
              <a href="https://cache-ui-dev.netlify.app/" target="_blank"><b
                >Visit Live</b></a>
            </div>
            <div class="project-link2">
              <a
                href="https://github.com/SRUJANA-PENUGONDA13/component-library/tree/temp-dev"
                target="_blank"
              ><b>View Code On Github</b></a>
            </div>
          </div>
        </div>
        {{! <div class="project-card">
                    <div class="project-area">
                        <div class="project-head">
                            <b>IFT Automation</b>
                        </div>
                        <div class="project-date">
                            JAN,2021
                        </div>
                        <div class="project-description">
                            1. Processing of DDTSUTF files and generating DTMU outbound files report over mail <br>
                            2. Analysis of IFT layouts and generating IFT files <br>
                            Technology - Python
                        </div>   
                    </div>
                </div> }}
      </div>
    </div>
  </div>
</section>